[submodule "Shell"]
	path = Shell
	url = https://github.com/Zeklandia/Dynamic-MOTD-Shell.git
[submodule "C++"]
	path = C++
	url = https://github.com/Zeklandia/Dynamic-MOTD-CPP.git
[submodule "Java"]
	path = Java
	url = https://github.com/Zeklandia/Dynamic-MOTD-Java.git
