[submodule "Dynamic-MOTD-CPP"]
	path = C++
	url = git://github.com/Zeklandia/Dynamic-MOTD-CPP.git
[submodule "Dynamic-MOTD-Java"]
	path = Java
	url = git://github.com/Zeklandia/Dynamic-MOTD-Java.git
[submodule "Dynamic-MOTD-Shell"]
	path = Shell
	url = git://github.com/Zeklandia/Dynamic-MOTD-Shell.git
